body {
    background-color: rgb(17, 26, 37)  ;
    color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: center top, center top;
  }
  
  .row {
    display: flex;
    align-items: stretch;
    height: 450px;
  }

  .img {
    background-image: url(Bek.jpg);
  }

  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 30%;
  }
  